<div class="uk-section uk-section-small" style="background: #d1006c">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-3 uk-light">
                <h2>Get in touch with the team</h2>
            </div>
            <div class="uk-width-expand@s">
                <form class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-4@s">
                        <input class="uk-input" type="text" placeholder="50">
                    </div>
                    <div class="uk-width-1-4@s">
                        <input class="uk-input" type="text" placeholder="25">
                    </div>
                    <div class="uk-width-1-2@s">
                        <input class="uk-input" type="text" placeholder="25">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>