<div class="uk-section uk-section-small" style="background: #d1006c">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-3-5@s uk-light">
                <h2>Book your next appointment</h2>
                <p>Easily use our booking software to schedule your next appointment. Our team will confirm the appointment and we'll send out reminders nearing your appointment</p>
            </div>
            <div class="uk-width-expand@s uk-text-right">
                <a href="" class="uk-button uk-button-secondary">Book Now</a>
            </div>
        </div>
    </div>
</div>