{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $contact := .Site.Data.profile.contact_information }}

<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-grid-row-large uk-grid-margin-large uk-grid">
                <div class="uk-width-1-1@s uk-width-2-5@m">
                    <div class="uk-panel uk-margin uk-width-medium@m uk-text-left ">
                        <h3 class="uk-h4">About</h3>
                        <p>Marias cleaning Services is located in Fontana but services neighboring areas. Please contact us to see if we can service your home.</p>
                    </div>
                </div>
                
                <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-5@m">            
                <h3 class="uk-h4 uk-text-left ">Contact Information</h3>
                    <ul class="uk-list uk-text-left ">
                        <li><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>
                        <li><a href="tel:{{ $contact.phone }}">{{ $contact.phone }}</a></li>
                    </ul>
                </div>
                
                <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-5@m">             
                <h3 class="uk-h4 uk-text-left ">Quick Links</h3>
                    <ul class="uk-list uk-text-left "> 
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="https://squareup.com/appointments/book/h53pijoes6fo2k/LHTPKBRG84PY4/services">Book now</a></li>
                    </ul>
                </div>
                
                <div class="uk-width-1-3@s uk-width-1-5@m">           
                <h3 class="uk-h4 uk-text-left ">Service Areas</h3>
                    <ul class="uk-list uk-text-left ">        
                        <li>Yorba Linda</li>
                        <li>Fontana</li>
                        <li>Riverside</li>
                        <li>Chino</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="uk-section uk-section-small">
        <div class="uk-container footer-credit">
            <div class="uk-grid">
                <div class="uk-width-1-2@m">
                    <ul class="uk-padding-remove">
                        <li><span class="uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }} &middot;</span>   <a href="https://hungryram.com" target="_blank" rel="nofollow">Website Developed by Hungry Ram</a></li>
                    </ul>
                    
                </div>
                <div class="uk-width-1-2@s">
                    <ul class="hr-legals">
                        {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                        <li class="uk-light uk-text-small uk-display-inline uk-margin-medium-left" onclick="navbaractive()"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>