{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
<style>
    nav.uk-navbar-sticky ul li a,
    .uk-navbar-sticky ul li a svg {
        color: #000!important;
    }
</style>
<div class="uk-visible@m">
	<div class="uk-sticky">
		<div class="uk-navbar-container uk-navbar-transparent">
			<div class="uk-container uk-container-large">
				<nav class="uk-navbar">
					<div class="uk-navbar-left">
						<a class="uk-logo" href="{{ .Site.BaseURL }}">
                        <h1 class="uk-h3"><span class="accent">Cleaning</span> Company</h1>
                            
                        </a>
					</div>
					<div class="uk-navbar-right">
						<div class="uk-navbar-item">
                            <ul class="uk-navbar-nav">
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.main }}
                                {{ if .HasChildren }}
                                <li>
                                    <a href="#">{{ .Name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            {{ range .Children }}
                                            <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </li>
                                {{ else }}
                                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                {{ end }}
                                {{ end }}
                                <div class="uk-navbar-item">
                                    <li><a href="/contact" class="uk-button uk-button-primary"><span uk-icon="icon: receiver" class="uk-margin-small-right"></span>951-454-2650</a></li>
                                </div>
                                </ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="uk-sticky-placeholder" hidden="" style="height: 80px; margin: 0px;"></div>
</div>






<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-dark; cls-inactive: top: 400">
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-box-shadow-small" style="padding: 0 15px;">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="140">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="15" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="10" height="2"></rect></svg>
            </a>
        </div>
    </nav>
    </div>



<div id="modal-full" class="uk-modal-full uk-modal mobile__wrapper" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical uk-text-center" uk-nav>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="uk-parent">
                <a href="#" class="uk-text-light">{{ .Name }}</a>
                <ul class="uk-nav-sub">
                    {{ range .Children }}
                    <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>