<div class="uk-section">
    <div class="uk-container uk-container-large uk-padding" style="background: #f6f6f6">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-3-5@s">
                <div>
                    <h2>Work with a professional cleaner with years of experience</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, explicabo. Itaque ducimus obcaecati, odio nisi maxime explicabo? Eaque expedita provident iusto iste assumenda! Magni ad consequatur repellat maiores</p>
                    <a href="" class="uk-button uk-button-primary">Get in Touch</a>
                </div>
            </div>
            <div class="uk-width-expand">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635927579/patti/cleaning/wiping-counter.jpg" alt="">
            </div>
        </div>
    </div>
</div>