
<div style="background: #d1006c">
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-light uk-flex uk-flex-middle">
                <div class="uk-width-3-5@s">
                    <h2>Find out if we service your area</h2>
                    <p>Enter in your city name or zip code</p>
                </div>
                <div class="uk-width-expand@s">
                    <div class="uk-margin">
                        <form class="uk-search">
                            <div class="uk-margin" uk-margin>
                                <div class="uk-inline">
                                    <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: location" style="color: #000"></a>
                                    <input class="uk-input search__input" type="text" style="background:white;color:#000;border-radius:5px">
                                </div>
                                <button class="uk-button uk-button-secondary" style="background: #000;color:#fff">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>