<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-child-width-1-2@s">
            <div>
                <h2>Have any questions?</h2>
                <p>Get in touch with the team and we'll answer your questions as soon as possible!</p>
                <ul class="uk-list">
                    <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Personalized Pricing</li>
                    <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Trained and experienced</li>
                    <li><span uk-icon="icon: check" class="uk-margin-small-right"></span>Flexible payment options</li>
                </ul>
            </div>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635927579/patti/cleaning/wiping-counter.jpg" alt="">

            </div>
        </div>
    </div>
</div>