
<div class="uk-section-default">
	<div class="uk-background-norepeat uk-section uk-section-xlarge" style="background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/hungryram19/image/upload/v1635915693/patti/cleaning/banner.jpg) no-repeat center;background-size:cover">
        
		<div class="uk-container uk-container-large">
				<div class="uk-width-1-1@m">
                    <div class="uk-width-2xlarge hero__content">
                        <h1 class="uk-margin-remove uk-white"><span>Rest easy</span> knowing your home will be professionally cleaned</h1>
                        <div class="uk-width-xlarge uk-margin-medium">
                            <p class="uk-white">With years of cleaning experience, we make sure your house is thoroughly cleaned</p>
                        </div>
                        <div class="uk-margin">
                            <ul class="uk-list uk-white">
                                <li><img src="/assets/check-icon.svg" alt="" width="25"> Highly rated & Esteemed</li>
                                <li><img src="/assets/check-icon.svg" alt="" width="25"> Trusted Professional</li>
                            </ul>
                        </div>
                        <a href="https://squareup.com/appointments/book/h53pijoes6fo2k/LHTPKBRG84PY4/services" class="uk-button uk-button-primary uk-margin-medium-right">Book Now</a>
                        <a href="/services" class="uk-button uk-button-secondary">View Services</a>
                    </div>
				</div>
		</div>
	</div>
</div>