{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-2xlarge uk-text-center">
                <h2>Commercial & Residential</h2>
                <p>Marias Cleaning Services is a small business with big dreams. With many years of experience in the cleaning industry, we have been offering our services for years. We specialize in commercial and residential cleaning. If you are looking for an affordable, cheap company that provides top-notch service then look no further than Marias Cleaning Services!</p>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-small">
    <div class="uk-container uk-container-large">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>Basic Cleaning</h3>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>Additional Services</h3>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>Deep Cleaning</h3>
                </div>
            </div>
        </div>
    </div>
</div>